*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#root {
  display: grid;
  /* min-height: 100vh; */
}

@media(max-width: 768px) {
  .App {
    width: 90vw;
  }
}

@media(min-width: 768px) {
  .App {
    width: 50vw;
  }
}

.App {
  display: grid;
  gap: 20px;
  justify-self: center;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  /* max-height: 60vh; */
  /* overflow-y: auto;
  align-self: center;
  justify-self: center; */
}

.link-styled {
  text-decoration: none;
  color: #3f51b5;
  margin: 0;
}

.link-styled:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}